.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

.counties {
  fill: none;
}

.Pensions{
    color: #1f77b4;
    font-weight: 900;
}

.HealthCare{
    color: #ff7f0e;
    font-weight: 900;
}

.Education{
    color: #2ca02c;
    font-weight: 900;
}

.Defense{
    color: #d62728;
    font-weight: 900;
}

.Welfare{
    color: #9467bd;
    font-weight: 900;
}

.Protection{
    color: #8c564b;
    font-weight: 900;
}

.Transportation{
    color: #e377c2;
    font-weight: 900;
}

.General{
    color: #1f77b4;
    font-weight: 900;
}

.GeneralGovernment{
    color: #7f7f7f;
    font-weight: 900;
}

.OtherSpending{
    color: #bcbd22;
    font-weight: 900;
}

.Interest{
    color: #17becf;
    font-weight: 900;
}


#pie{
  max-width: 370px;
}

.states {
  fill: #ccc;
  stroke: #fff;
  stroke-linejoin: round;
}

.background {
  fill: none;
  pointer-events: all;
}

#states {
  fill: #aaa;
}

#spendingOverTime {
  max-width: 600px;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}



/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

body {
    background-color: white;
}
h1 {
    color: black;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}
/*h3 {
  text-align:center;
}*/
p {
    color: black;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-size: 12;
}
.lcLabel{
  font-size: 30px;
}


form {
  position: absolute;
  right: 10px;
  top: 10px;
}
input {
  margin: 0 7px;
}

#title {
  margin: 10px auto 20px auto;
  width: 355px;
}


#spendingOverTime .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
